@{
    ViewBag.Title = "Restricted";
}

@section heading {
    <div class=header>
        <h1 class=header-heading>Restricted Page</h1>
    </div>
}
@section body {
    <h1>This page is only able to be viewed by an administrative role.</h1>
}
