@model UserProfile
@{
    ViewBag.Title = "Login";
}

@section heading {
    <div class=header>
        <h1 class=header-heading>Login Page</h1>
    </div>
}
@section body {
    <div>
        @using (Html.BeginForm("Login", "Authentication", FormMethod.Post))
        {
            @Html.EditorFor(u => u)
            <input type="submit" value="Login" />
        }
    </div>
}
