
@{
    ViewBag.Title = "Sign Up";
}

@section heading {
    <div class=header>
        <h1 class=header-heading>Sign Up</h1>
    </div>
}

@section body {
    <div>
        @using (Html.BeginForm("SignUp", "Authentication", FormMethod.Post))
        {
            @Html.EditorFor(u => u)
            <input type="submit" value="Sign Up" />
        }
    </div>
}
