
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign Up</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("SignUp", "Authentication", FormMethod.Post))
        {
            @Html.EditorFor(u => u)
            <input type="submit" value="Sign Up" />
        }
    </div>
</body>
</html>
