@model Book
@{
    ViewBag.Title = "Add Book";
}

@section heading {
    <div class=header>
        <h1 class=header-heading>Add Book</h1>
    </div>
}

@section body {
    <div>
        @using (Html.BeginForm("AddBook", "Book", FormMethod.Post))
        {
            @Html.Partial("_EditBookPartialView", Model)
            @Html.HiddenFor(model => model.Id)
            @*foreach (Author a in Model.Authors)
                {
                    @Html.Partial("_EditAuthorPartialView", a)
                }*@
            <input type="submit" value="Save" />
        }
    </div>
}
