@model List<Book>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Stylez/main.css" />
</head>
<body>
    <nav>
        <a href="~/Home/Search">Search</a>
        @Html.ActionLink("Add Book", "AddBook", "Book")
    </nav>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author(s)</th>
            <th>Publishing Year</th>
            <th>Genre</th>
            <th>Total Copies</th>
            <th>Available Copies</th>
        </tr>
        @foreach (Book book in Model)
            {
            <tr>
                @Html.Partial("_DisplayBookPartialView", book)
                <td>
                    @Html.ActionLink("Edit", "EditBook", "Book", new { id = book.Id }, null)
                    @Html.ActionLink("Delete", "DeleteBook", "Book", new { id = book.Id }, null)
                </td>
            </tr>
        }
    </table>
</body>
</html>
