@model List<Book>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <nav>
        <a href="~/Home/Search">Search</a>
    </nav>

    @foreach (Book book in Model)
    {
        @Html.Partial("_DisplayBookPartialView", book);
        <br />
    }
</body>
</html>
