@model List<Book>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Stylez/main.css" />
</head>
<body>
    <div class=header>
        <h1 class=header-heading>Library Database</h1>
    </div>
    <div class=nav-bar>
        <ul class=nav>
            <li><a href="~/Home/Index">Home</a></li>
            <li><a href="~/Home/Search">Search</a></li>
            <li><a href="~/User/UserProfile">MyProfile</a></li>
            <li>@Html.ActionLink("Add Book", "AddBook", "Book")</li>
        </ul>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author(s)</th>
            <th>Publishing Year</th>
            <th>Genre</th>
            <th>Total Copies</th>
            <th>Available Copies</th>
        </tr>
        @foreach (Book book in Model)
            {
            <tr>
                @Html.Partial("_DisplayBookPartialView", book)
                <td>
                    @Html.ActionLink("Edit", "EditBook", "Book", new { id = book.Id }, null)
                    @Html.ActionLink("Delete", "DeleteBook", "Book", new { id = book.Id }, null)
                </td>
            </tr>
        }
    </table>
</body>
</html>
