@model Book
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            @Html.Partial("_BookSearchPartialView", Model)
        }
    </div>
</body>
</html>
