@model UserProfile
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserProfile</title>
</head>
<body>
    <div>
        <strong>User Page</strong><br />
        <strong>@Model.username</strong><br />
        @for (int i = 0; i < Model.Roles.Count; ++i)
        {
            <strong>@Model.Roles.ElementAt(i).roleName</strong><br />
            
        }

        @for (int i = 0; i < Model.Books.Count; ++i)
        {
            <strong>@Model.Books.ElementAt(i).Id</strong><br />
            <strong>@Model.Books.ElementAt(i).Title</strong><br />
            <br />
        }
    </div>
</body>
</html>
