@model UserProfile
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserProfile</title>
</head>
<body>
    <div>
        <strong>User Page</strong><br />
        <strong>Username: </strong>@Model.username<br />
        <strong>Roles:</strong><br />
        @for (int i = 0; i < Model.Roles.Count; ++i)
        {
            @Model.Roles.ElementAt(i).roleName<br />
            
        }
        <strong>Books: </strong><br />
        @for (int i = 0; i < Model.Books.Count; ++i)
        {
            @:Book Id: @Model.Books.ElementAt(i).Id<br />
            @:Title: @Model.Books.ElementAt(i).Title<br />
            <br />
        }
    </div>
</body>
</html>
